<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	
	<!-- 3.引入实体映射文件 -->
	<mappers>
		<mapper resource="cn/sz/gl/pojo/Account.xml" />
		<mapper resource="cn/sz/gl/pojo/Book.xml" />
		<mapper resource="cn/sz/gl/pojo/StoreHouse.xml" />
		<mapper resource="cn/sz/gl/pojo/Users.xml" />
	</mappers>
</configuration>